@font-face {
  font-family: Chakra Petch;
  src: url(./../fonts/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: Chakra Petch bold;
  src: url(./../fonts/ChakraPetch-Bold.ttf);
}

@font-face {
  font-family: Chakra Petch light;
  src: url(./../fonts/ChakraPetch-Light.ttf);
}

@font-face {
  font-family: Chakra Petch medium;
  src: url(./../fonts/ChakraPetch-Medium.ttf);
}

@font-face {
  font-family: Chakra Petch semibold;
  src: url(./../fonts/ChakraPetch-SemiBold.ttf);
}


