a {
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input:focus, textarea:focus {
  outline: 0;
}
input:focus::placeholer, textarea:focus::placeholer {
  opacity: 0;
}

select:focus, a:focus, button:focus {
  outline: 0;
}

/* site34_head_col0_enpis */
.top_head {
  background: #00B2E7;
  padding: 13px 0 12px;
}
.top_head .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.list_link {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.list_link a {
  margin-right: 40px;
}
.list_link a img {
  max-width: 100%;
}
.list_link a span {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 10px;
}

.form_search form {
  width: 217px;
  height: 35px;
  background: transparent;
  overflow-y: hidden;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 49px;
  position: relative;
}
.form_search form input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
}
.form_search form input::placeholder {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.form_search form .btn_search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  background: transparent;
  border: none;
}

.lang_list {
  margin-left: 30px;
}
.lang_list a img {
  max-width: 100%;
}

.main_menu {
  padding: 12px 0;
}
.main_menu .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.logo_34 {
  margin-right: auto;
}

.menu_item {
  margin-left: auto;
}
.menu_item > ul {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}
.menu_item > ul > li {
  margin: 0;
  position: relative;
}
.menu_item > ul > li > a {
  padding: 15px;
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #00B2E7;
}
.menu_item > ul > li:hover > ul {
  display: block;
}
.menu_item > ul > li > ul {
  display: none;
  position: absolute;
  background: #fff;
  width: 220px;
  transition: 0.5s;
  margin-top: 15px;
}
.menu_item > ul > li > ul > li {
  padding: 15px;
  position: relative;
}
.menu_item > ul > li > ul > li:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #C7C3C3;
  border-right: 1px solid #C7C3C3;
  transform: rotateZ(45deg);
  top: 27px;
  right: 10px;
}
.menu_item > ul > li > ul > li:hover {
  background: #00B2E7;
}
.menu_item > ul > li > ul > li:hover a {
  color: #fff;
}
.menu_item > ul > li > ul > li:hover > ul {
  display: block;
}
.menu_item > ul > li > ul > li:hover:before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.menu_item > ul > li > ul > li > a {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #00B2E7;
}
.menu_item > ul > li > ul > li > ul {
  display: none;
  transition: 0.5s;
  background: #00B2E7 !important;
  position: absolute;
  background: #fff;
  width: 220px;
  right: -100%;
  top: 0;
}
.menu_item > ul > li > ul > li > ul > li {
  padding: 15px;
}
.menu_item > ul > li > ul > li > ul > li:hover {
  background: #3cd2ff;
}
.menu_item > ul > li > ul > li > ul > li > a {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.cart_item {
  margin-left: 15px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}
.cart_item a {
  position: relative;
  padding: 15px;
}
.cart_item a span {
  position: absolute;
  top: 7px;
  right: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.cart_item a span:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: red;
  padding: 3px 10px;
  border-radius: 127px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.cart_item a img {
  max-width: 100%;
}
.cart_item a:last-child {
  padding-right: 0;
}